* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Allenoire";
  src: url("fonts/Allenoire\ Font.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-font: "Allenoire", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --primary-color: #653904;
  --secondary-color: #f5f0c9;
  --third-color: #000000;
}

html,
body {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
}

/* Header Styling */

header {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 20px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

header img {
  width: 120px;
  height: auto;
}

header a {
  font-size: 20px;
  text-decoration: none;
  color: var(--secondary-color);
  padding: 5px;
}

header ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

header li {
  list-style: none;
}

#menu-toggle,
.menu-icon {
  display: none;
}

/* Hero Section Styling */

.hero {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: var(--secondary-color);
  padding-top: 150px;
  padding-bottom: 50px;
  align-items: center;
  gap: 100px;
}

.person {
  width: 600px;
  height: 600px;
  border-radius: 300px;
  overflow: hidden;
  display: flex;
  background-image: url(img/mean.jpeg);
  background-size: cover;
}

.person img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.hero-text {
  max-width: 500px;
  padding-left: 50px;
}

.hero-text h1,
h2 {
  margin: 0;
}

.hero h1 {
  margin-top: 25px;
}

.hero h2 {
  font-family: var(--secondary-font);
  font-size: 17px;
  font-weight: 450;
  margin-bottom: 25px;
}
.hero span {
  font-size: 25px;
  font-family: var(--secondary-font);
  font-weight: 500;
}

.hero p {
  font-family: var(--secondary-font);
  font-size: 25px;
  font-weight: 400;
  margin: 0;
}

.hero button {
  margin-top: 20px;
  padding: 20px;
  width: 180px;
  border-radius: 20px;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: 17px;
  font-weight: 550;
}

.hero button:hover {
  transform: scale(104%);
}

.hero button:active {
  transform: scale(97%);
}

/* About Section Styling */

.about {
  /* margin-top: 50px; */
  padding: 50px;
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h2 {
  font-size: 50px;
}
.about p {
  max-width: 1300px;
  font-family: var(--secondary-font);
  font-size: 25px;
  line-height: 1.5;
}

.stat {
  display: flex;
  flex-direction: row;
  gap: 100px;
  background-color: var(--primary-color);
  padding: 30px;
}

.stat p {
  font-size: 27px;
  text-align: center;
  color: var(--secondary-color);
}

/* Skills Section Styling */
.skills {
  /* margin-top: 50px; */
  padding: 50px;
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
}

.skills h2 {
  font-size: 50px;
  text-align: center;
}

.skill-box {
  display: flex;
  flex-direction: column;
}

.skill-card {
  /* background-color: var(--secondary-color); */
  border: 2px solid;
  border-color: var(--primary-color);
  display: flex;
  justify-content: left;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}

.the-skill {
  margin-left: 20px;
  text-align: center;
}

.the-skill h3 {
  margin: 0;
  font-family: var(--secondary-font);
  font-size: 40px;
  font-weight: 850;
  color: var(--primary-color);
}

.the-skill img {
  width: 200px;
  margin: 0;
}

.rating {
  color: gold;
  font-size: 20px;
  margin: 0;
  letter-spacing: 3px;
}

.skill-desc {
  max-width: 620px;
  margin-left: 25px;
}

.skill-desc p {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 30px;
}

/* .respo {
  font-size: 20px;
} */

/* Skills Card Hover and Active Styling */
.skill-card:hover {
  transform: scale(102%);
}

/* Projects Section Styling */
.projects {
  /* margin-top: auto; */
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects h2 {
  font-size: 50px;
  text-align: center;
}

.projects-casing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 50px;
}

.the-projects {
  background-color: var(--secondary-color);
  /* border: 2px solid var(--primary-color); */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 350px;
  height: auto;
  border-radius: 20px;
  padding: 20px;
  font-family: var(--secondary-font);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.the-projects h3 {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 0;
  color: var(--primary-color);
}

.the-projects span {
  font-size: 20px;
  font-weight: 400;
  color: var(--third-color);
  margin-bottom: 10px;
}

.the-projects button {
  margin-top: 25px;
  padding: 13px;
  width: 150px;
  height: auto;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  background: none;
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-weight: 600;
  font-size: 16px;
}

.projects-category {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-category h4 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 0;
  color: var(--primary-color);
}

.projects-category p {
  font-size: 15px;
  margin: 0;
}

.projects-image {
  display: block;
  padding: 0;
}
.projects-image img {
  width: 200px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.projects-image img:hover {
  transform: scale(1.05);
}

.the-projects button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
}

.the-projects button:active {
  transform: scale(103%);
}

/* Media Query */
@media (max-width: 768px) {
  .projects-casing {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .the-skill img {
    width: 100px;
    margin: 0;
  }

  .skill-desc p {
    font-size: 20px;
  }

  .stat {
    gap: 50px;
    background-color: var(--primary-color);
    padding: 10px;
  }

  .stat p {
    font-size: 18px;
    text-align: center;
    color: var(--secondary-color);
  }

  .about {
    /* padding: 50px;
    padding-top: 130px; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about h2 {
    font-size: 50px;
  }
  .about p {
    max-width: 1000px;
    font-family: var(--secondary-font);
    font-size: 17px;
    line-height: 1.5;
  }

  .person {
    width: 300px;
    height: 300px;
    border-radius: 200px;
    overflow: hidden;
    display: flex;
    background-image: url(img/me.jpeg);
    background-size: cover;
    margin-right: 10px;
  }

  .person img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
  }

  .hero-text {
    max-width: 300px;
    padding-left: 50px;
  }

  .hero-text h1,
  h2 {
    margin: 0;
  }

  .hero h1 {
    margin-top: 25px;
  }

  .hero h2 {
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 450;
    margin-bottom: 25px;
  }
  .hero span {
    font-size: 15px;
    font-family: var(--secondary-font);
    font-weight: 500;
  }

  .hero p {
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 400;
    margin: 0;
  }

  .hero button {
    margin-top: 20px;
    padding: 20px;
    width: 180px;
    border-radius: 20px;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 17px;
    font-weight: 550;
  }
}

@media (max-width: 480px) {
  /* Header Styling */
  header {
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    position: fixed;
    padding: 15px 20px;
  }

  .menu-icon {
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: var(--secondary-color);
  }

  header img {
    width: 100px;
  }

  header ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 20px;
    width: auto;
    box-sizing: border-box;
    flex-direction: column;
    gap: 0;
    background-color: var(--primary-color);
    padding: 10px;
    margin: 0;
    list-style: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  header li {
    padding: 10px;
  }

  #menu-toggle:checked ~ ul {
    display: flex;
  }

  /* header:hover ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  } */

  /* Hero Section Styling */

  .hero {
    display: flex;
    /* width: 100%;
    max-width: 100%; */
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 150px;
    padding-bottom: 50px;
    /* align-items: center; */
    gap: 10px;
    /* text-align: center; */
  }

  .person {
    min-width: 400px;
    min-height: 500px;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    background-image: url(img/mean.jpeg);
    background-size: cover;
  }

  .person img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: left;
  }

  .hero-text {
    max-width: 500px;
    /* padding-left: 50px; */
  }

  .hero-text h1,
  h2 {
    margin: 0;
  }

  .hero h1 {
    margin-top: 20px;
  }

  .hero h2 {
    font-family: var(--secondary-font);
    font-size: 17px;
    font-weight: 450;
    margin-bottom: 25px;
  }
  .hero span {
    font-size: 25px;
    font-family: var(--secondary-font);
    font-weight: 500;
  }

  .hero p {
    font-family: var(--secondary-font);
    font-size: 25px;
    font-weight: 400;
    margin: 0;
  }

  .hero button {
    margin-top: 20px;
    padding: 20px;
    width: 180px;
    border-radius: 20px;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 17px;
    font-weight: 550;
  }

  .hero button:hover {
    transform: scale(104%);
  }

  .hero button:active {
    transform: scale(97%);
  }

  /* About Section Styling */

  .about {
    /* margin-top: 50px; */
    padding: 50px;
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about h2 {
    font-size: 50px;
  }
  .about p {
    max-width: 1300px;
    font-family: var(--secondary-font);
    font-size: 25px;
    line-height: 1.5;
  }

  .stat {
    display: flex;
    flex-direction: row;
    gap: 100px;
    background-color: var(--primary-color);
    padding: 30px;
  }

  .stat p {
    font-size: 27px;
    text-align: center;
    color: var(--secondary-color);
  }

  /* Skills Section Styling */
  .skills {
    /* margin-top: 50px; */
    padding: 50px;
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
  }

  .skills h2 {
    font-size: 50px;
    text-align: center;
  }

  .skill-box {
    display: flex;
    flex-direction: column;
  }

  .skill-card {
    /* background-color: var(--secondary-color); */
    border: 2px solid;
    border-color: var(--primary-color);
    display: flex;
    justify-content: left;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
  }

  .the-skill {
    margin-left: 20px;
    text-align: center;
  }

  .the-skill h3 {
    margin: 0;
    font-family: var(--secondary-font);
    font-size: 40px;
    font-weight: 850;
    color: var(--primary-color);
  }

  .the-skill img {
    width: 200px;
    margin: 0;
  }

  .rating {
    color: gold;
    font-size: 20px;
    margin: 0;
    letter-spacing: 3px;
  }

  .skill-desc {
    max-width: 620px;
    margin-left: 25px;
  }

  .skill-desc p {
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 30px;
  }

  /* .respo {
  font-size: 20px;
} */

  /* Skills Card Hover and Active Styling */
  .skill-card:hover {
    transform: scale(102%);
  }

  /* Projects Section Styling */
  .projects {
    /* margin-top: auto; */
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects h2 {
    font-size: 50px;
    text-align: center;
  }

  .projects-casing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 50px;
  }

  .the-projects {
    background-color: var(--secondary-color);
    /* border: 2px solid var(--primary-color); */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 350px;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    font-family: var(--secondary-font);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }

  .the-projects h3 {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 0;
    color: var(--primary-color);
  }

  .the-projects span {
    font-size: 20px;
    font-weight: 400;
    color: var(--third-color);
    margin-bottom: 10px;
  }

  .the-projects button {
    margin-top: 25px;
    padding: 13px;
    width: 150px;
    height: auto;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    background: none;
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-weight: 600;
    font-size: 16px;
  }

  .projects-category {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects-category h4 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0;
    color: var(--primary-color);
  }

  .projects-category p {
    font-size: 15px;
    margin: 0;
  }

  .projects-image {
    display: block;
    padding: 0;
  }
  .projects-image img {
    width: 200px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .projects-image img:hover {
    transform: scale(1.05);
  }

  .the-projects button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
  }

  .the-projects button:active {
    transform: scale(103%);
  }
}
